/** ======================== Colours ========================= */
/*? ========================================================= */

:root {
    /* ###### Brand Colours ###### */
    --Brand-Primary: #7920C2;
    --Brand-Secondary: #F2994A;

    /* ###### Background Colours ###### */
    --Background-Navy-1: #090011;
    --Background-Navy-2: #11083E;
    --Background-Navy-3: #180C60;
    --Background-White: #FFFFFF;


    --fallout-secondary: #;
    --fallout-tertiary: #;
    --fallout-white: #;
}

/** ======================== Typography ========================= */
/*? ========================================================= */

/* ###### Heading ###### */

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headin1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 56px;
    line-height: 61.6px;
}

.headin2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    line-height: 52.8px;
}

.headin3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    line-height: 44px;
}

.headin4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    line-height: 35.2px;
}

.headin5 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    line-height: 26.4px;
}

.headin6 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    line-height: 22px;
}

/* ###### Body ###### */

/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
} */

.largeBold {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 28px;
}

.largeRegular {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.mediumBold {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25.2px;
}

.mediumRegular {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 25.2px;
}

.normalBold {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 22.4px;
}

.normalRegular {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22.4px;
}

.smallBold {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 19.6px;
}

.smallRegular {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 19.6px;
}

/** ======================== Grid Systems ========================= */
/*? ========================================================= */


